:host {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  @apply bg-slate-50 text-xs font-semibold uppercase tracking-wide text-slate-500;
  padding: 1rem;
}

td {
  padding: 1rem;
  vertical-align: top;
}

mat-chip {
  border-radius: 9999px;
  text-transform: uppercase;
}

form {
  @media (min-width: 1024px) {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}